<div (window:beforeunload)="doSomething()"></div>
<div *ngIf="!answering; else isg">
  <h1 class="text-center font-weight-bold">Répondre à un questionnaire</h1>
  <br />

  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="name">Nom</th>
      <!-- <th mat-sort-header="active">Etat</th> -->
      <th mat-sort-header="type">Type</th>
      <th mat-sort-header="actions">Actions</th>
      <!-- <th mat-sort-header="carbs">Carbs (g)</th>
  <th mat-sort-header="protein">Protein (g)</th> -->
    </tr>

    <tr class="border" *ngFor="let analyse of sortedData">
      <td>{{ analyse.name }}</td>
      <!-- <td><span *ngIf="analyse.active==true; else untrue">
    <mat-chip-list>
      <mat-chip class="activechip">Active</mat-chip>
    </mat-chip-list>
  </span>
  <ng-template #untrue>
  <mat-chip-list>
  <mat-chip class="inactivechip"> Inactive</mat-chip>
</mat-chip-list>
  </ng-template>
  </td> -->
      <td>{{ analyse.type }}</td>
      <td>
        <a
          [routerLink]="['./MyFirstOne', analyse._id.toString()]"
          color="primary"
          (click)="AnalysisAnswer(analyse._id)"
        >
          <mat-icon>edit </mat-icon>
        </a>
      </td>
      <!-- <td>{{dessert.carbs}}</td>
  <td>{{dessert.protein}}</td> -->
    </tr>
  </table>
  <br />
</div>
<ng-template #isg>
  <br>
  <div>
  <button
  class = "backwards"
    routerLink="/dashboard/answer"
    mat-button
    color="primary"
    (click)="answering = !answering"
  >
    <mat-icon>arrow_back </mat-icon>Retour</button
  >
  </div>
  <br /><br />
  <h1 class="text-center">{{ title }}</h1>
  <div *ngFor="let champ of current_analysis">
    <!--il faut distribuer les champs dans les bons components -->
    <div *ngIf="champ.format.name == 'radio button'; else slider">
      <app-radio-button [field]="champ"></app-radio-button>
    </div>
    <ng-template #slider
      >
      <div  *ngIf="champ.format.name == 'slider';else last"><app-slider  [field]="champ"></app-slider
    ></div></ng-template>
    <ng-template #last></ng-template>
    <br>
  </div>
  <input type="submit" class="fadeIn fourth" value="Envoyer la réponse" />
</ng-template>
